.button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: $white;
    border: 0.1rem $black solid;
    border-radius: 0.4rem;
    box-sizing: border-box;
    display: inline-block;
    color: $black;
    cursor: pointer;
    font-size: 1.9rem;
    font-weight: 400;
    height: 3.8rem;
    line-height: 4rem;
    margin-bottom: 1rem;
    padding: 0 2rem;
    text-align: center;
    text-transform: uppercase;

    &[disabled] {
        cursor: default;
        opacity: 0.5;

        &:focus, &:hover  {
            border-color: $black;
            color: $black;
        }
    }

    &:focus, &:hover {
        border-color: lighten($black, 50%);
        outline: 0;
    }

    &.black {
        background-color: $black;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($black, 25%);
        }
    }

    &.red {
        background-color: $red;
        border-color: $red;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($red, 5%);
        }
    }

    &.green {
        background-color: $green;
        border-color: $green;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($green, 5%);
        }
    }

    &.blue {
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($blue, 5%);
        }
    }

    &.orange {
        background-color: $orange;
        border-color: $orange;

        &:focus, &:hover {
            background-color: lighten($orange, 5%);
        }
    }

    &.brown {
        background-color: $brown;
        border-color: $brown;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($brown, 5%);
        }
    }

    &.purple {
        background-color: $purple;
        border-color: $purple;
        color: $white;

        &:focus, &:hover {
            background-color: lighten($purple, 5%);
        }
    }

    &.yellow {
        background-color: $yellow;
        border-color: $yellow;

        &:focus, &:hover {
            background-color: darken($yellow, 3%);
        }
    }

    &.yellowgreen {
        background-color: $yellowgreen;
        border-color: $yellowgreen;

        &:focus, &:hover {
            background-color: lighten($yellowgreen, 5%);
        }
    }
}