$base-font-size: 10px;
$font-stack: 'Overpass', Helventica, Arial, sans-serif;

$white: rgb(255,255,255);
$black: rgb(0,0,0);
$red: rgb(166,25,46);
$green: rgb(0,103,71);
$blue: rgb(0,47,108);
$brown: rgb(105,63,35);
$orange: rgb(229,114,0);
$purple: rgb(109,32,119);
$yellow: rgb(255,205,0);
$yellowgreen: rgb(196,214,0);